image: node:alpine

cache:
  paths:
    - node_modules/

stages:
  - build
  - test
  - deploy

before_script:
  - CI=false
  - apk update
  - apk add yarn
  - yarn install

build:
  stage: build
  script: 
    - yarn build

test:
  stage: test
  script: 
    - yarn test
  coverage: '/^All files\s*\|\s*(\d+\.*\d*)/'

pages:
  stage: deploy
  script: 
    - yarn build
  artifacts:
    paths:
      - build
